@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.ttf") format("ttf");
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.ttf") format("ttf");
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Extrabold.ttf") format("ttf");
  src: url("../fonts/Gilroy-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Chronicle-Display";
  src: url("../fonts/Chronicle-Display-Semibold.otf") format("otf");
  src: url("../fonts/Chronicle-Display-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Chronicle-Display";
  src: url("../fonts/Chronicle-Display-Bold.otf") format("otf");
  src: url("../fonts/Chronicle-Display-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

/* img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
} */

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body {
  height: 100%;
  color: rgb(255, 255, 255);
  font-family: "Gilroy", sans-serif;
  line-height: normal;
  background-color: #0b1d26;
}

body {
  font-size: 1.125rem;
}

:root {
  --index: calc(1vw + 1vh);
  --background: #0b1d26;
  --color: #fbd784;
  --widthHeader: 1760px;
  --widthContent: 1462px;
}

.wrapper {
  max-width: var(--widthContent);
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 140px 0 12px;
}

.logo {
  font-family: "Chronicle-Display";
  font-size: 2rem;
  color: #fff;
  line-height: normal;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}

.footer__column-title {
  color: var(--color);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 133%;
}

.text {
  font-weight: 700;
  line-height: 178%;
}

.advantages__item-readMore.text--yellow {
  color: var(--color);
}

.text--medium {
  font-weight: 500;
}

.item-intro {
  display: flex;
  align-items: center;
  color: var(--color);
  font-weight: 800;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.item-intro::before {
  content: "";
  background-color: var(--color);
  height: 2px;
  flex: 0 0 72px;
  margin-right: 32px;
}

.item-number {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 15rem;
  font-weight: 700;
  line-height: 100%;
  opacity: 0.1;
}

.title {
  font-family: "Chronicle Display";
  font-size: 4rem;
  font-weight: 600;
}

.title--large {
  font-size: 5.5rem;
  line-height: 114%;
}

/* ...........................header........................ */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header__wrapper {
  position: relative;
  max-width: var(--widthHeader);
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: content-box;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 58px 0;
}

.header__logo-link:hover {
  text-decoration: none;
}

.header__list {
  display: flex;
  line-height: normal;
}

.header__list-item:not(:last-child) {
  margin-right: 40px;
}

.header__account {
  font-size: 1.0625rem;
}
.header__account-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__account-icon {
  margin-right: 8px;
}

.header-social {
  position: fixed;
  top: 359px;
  left: 0;
  transform: translateX(170%);
  z-index: 10;
}
.header-social__text {
  writing-mode: vertical-lr;
  margin-bottom: 24px;
}
.header-social__list {
  display: inline-block;
}
.header-social__list-item:hover .header-social__list-icon {
  transform: scale(1.06);
  opacity: 1;
}
.header-social__list-item:not(:last-child) {
  margin-bottom: 24px;
}
.header-social__list-link {
  display: flex;
  align-items: center;
}
.header-social__list-icon {
  opacity: 0.8;
}

.header__pagination-items {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 326px;
  right: 0;
  transform: translateX(-90%);
  line-height: normal;
  z-index: 10;
}

.header__pagination-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  opacity: 0.8;
  height: 50px;
  padding-right: 32px;
  border-right: 3px solid rgb(255, 255, 255, 0.4);
  cursor: pointer;
}

.header__pagination-item:hover {
  opacity: 1;
  transform: scale(1.01);
  text-decoration: none;
}

.header__pagination-item--active {
  border-right: 3px solid rgb(255, 255, 255, 1);
  opacity: 1;
  transform: scale(1.01);
}
/* ...........................main-block........................ */

.main-block__body {
  position: relative;
}

.main-block__body::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: linear-gradient(345deg, rgba(11, 29, 38, 0) 0%, #0b1d26 100%);
}

.main-block__parallax-items {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
.main-block__parallax-item {
  position: absolute;
  width: 110%;
  height: 105%;
  top: 0;
  left: 0;
}

.main-block__parallax-image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  will-change: transform;
}
.clouds {
  background-position: center;
  top: 0;
  transform: translate3d(
    calc(var(--move-x) / -120),
    calc(var(--move-y) / -120),
    0
  );
}

.montains {
  background-position: top;
  top: 33%;
  z-index: 1;
  transform: translate3d(
    calc(var(--move-x) / -80),
    calc(var(--move-y) / -80),
    0
  );
}

.human {
  background-position: 25% 0%;
  top: 50%;
  z-index: 2;
  transform: translate3d(
    calc(var(--move-x) / -30),
    calc(var(--move-y) / -30),
    0
  );
}

.main-block__content-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 0 140px 0 12px;
  width: 100%;
  top: 22%;
  z-index: 10;
  pointer-events: none;
}

.main-block__content {
  display: inline-block;
  padding-left: 400px;
}

.main-block__content > *:not(:last-child) {
  margin-bottom: 32px;
}

.main-block__title {
  max-width: 920px;
  text-transform: capitalize;
}

.main-block__scroll-down {
  display: inline-flex;
  align-items: center;
  line-height: normal;
  cursor: pointer;
  pointer-events: initial;
  opacity: 0.8;
}

.main-block__scroll-down:hover {
  transform: scale(1.01);
  opacity: 1;
}

.main-block__scroll-arrow {
  margin-left: 16px;
}

/* ...........................advantages........................ */

.page__advantages {
  position: relative;
}

.page__advantages::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translatey(-96%);
  width: 100%;
  height: 50px;
  z-index: 3;
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 72.28%);
}

.advantages__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 114px;
  padding: 100px 0;
  z-index: 3;
}

.advantages__item:nth-child(even) {
  flex-direction: row-reverse;
}

.advantages__item-content > *:not(:last-child) {
  margin-bottom: 27px;
}

.advantages__item-content {
  position: relative;
  padding-left: 150px;
  max-width: 770px;
}

.advantages__item-number {
  position: absolute;
  top: 0;
  left: 0;
  transform: translatey(-50%);
}

.advantages__item-title {
  max-width: 550px;
}

.advantages__item-readMore {
  display: inline-flex;
  align-items: center;
  line-height: normal;
}

.advantages__item-arrowRight {
  padding-top: 4px;
  margin-left: 16px;
}

.advantages__item-image {
  max-width: 100%;
  min-width: 400px;
  height: auto;
}

/* ...........................footer........................ */

.footer {
  padding: 100px 0 120px;
}

.footer__body {
  display: flex;
  column-gap: 40px;
}

.footer__column:nth-child(:last-child) {
  display: inline-block;
}

.footer__column:nth-child(2) {
  flex: 0 1 365px;
}

.footer__column:nth-child(1) {
  flex: 1 1 684px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column:not(:first-child) {
  white-space: nowrap;
}

.footer__logo-block > *:not(:last-child) {
  margin-bottom: 24px;
}

.footer__logo-link:hover {
  text-decoration: none;
}

.footer__column > *:not(:last-child) {
  margin-bottom: 24px;
}

.footer__column-text {
  max-width: 303px;
}

.footer__column-text:not(:last-child) {
  margin-bottom: 122px;
}

.footer__column-copy {
  opacity: 0.5;
}

.footer__column-list-item:not(:last-child) {
  margin-bottom: 16px;
}

/* ............................media............................ */

@media screen and (max-width: 1919px) {
  .header__pagination-items {
    transform: translateX(-50%);
  }
  .header-social {
    transform: translateX(50%);
  }
}

@media screen and (max-width: 1700px) {
  .header__pagination-items {
    top: 230px;
  }
  .header-social {
    top: 500px;
    left: initial;
    right: 0;
    transform: translateX(-90%);
  }

  .main-block__content {
    padding-left: 0;
  }

  .advantages__item {
    column-gap: 40px;
    padding: 80px 0;
  }
}

@media screen and (max-width: 1300px) {
  .item-intro {
    font-size: 0.95rem;
  }

  .title--large {
    font-size: 4.5rem;
  }

  .main-block__content {
    width: 755px;
  }

  .advantages__item {
    padding: 80px 0;
  }

  .item-number {
    font-size: 8rem;
  }
  .advantages__item-title {
    font-size: 2.5rem;
  }
  .advantages__item-content {
    padding-left: 55px;
  }

  .footer {
    padding: 80px 0;
  }
}

@media screen and (max-width: 1100px) {
  .title--large {
    font-size: 3.5rem;
  }
  .main-block__content {
    width: 588px;
  }
}

@media screen and (max-width: 992px) {
  .item-intro {
    font-size: 0.8rem;
  }
  .title--large {
    font-size: 2.5rem;
  }
  .main-block__content {
    width: 420px;
  }
  .clouds {
    transform: translate3d(0, 0, 0);
  }
  .montains {
    transform: translate3d(0, 0, 0);
  }
  .human {
    transform: translate3d(0, 0, 0);
  }
  .main-block__content-wrapper {
    top: 25%;
    padding: 0 120px 0 12px;
  }
  .header__pagination-item {
    padding-right: 20px;
  }
  .header-social {
    transform: translateX(-70%);
  }

  .wrapper {
    padding: 0 120px 0 12px;
  }

  .advantages__item {
    flex-direction: column;
    row-gap: 50px;
  }

  .advantages__item:nth-child(even) {
    flex-direction: column;
  }

  .advantages__item-image {
    max-width: 100%;
    min-width: initial;
    max-height: 500px;
    padding-left: 55px;
    object-fit: cover;
    object-position: center;
  }
  .footer {
    padding: 60px 0;
  }
  .footer__column-title {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 767px) {
  .main-block__content-wrapper {
    justify-content: start;
    padding: 0 30px;
  }
  .header__list-item:not(:last-child) {
    margin-right: 25px;
  }

  .footer {
    padding: 60px 0 20px 0;
  }

  .footer__body {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 60px;
  }

  .footer__column {
    padding-left: 40px;
  }

  .footer__column:nth-child(1) {
    order: 3;
    flex: 0 1 auto;
  }

  .footer__column:nth-child(2) {
    flex: 0 1 auto;
  }

  .footer__column:not(:first-child) {
    white-space: wrap;
  }
}

@media screen and (max-width: 610px) {
  .header__list {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

  .header__body {
    padding: 33px 0;
  }
  .header__list-item:not(:last-child) {
    margin-right: 0;
  }

  .title--large {
    font-size: 2rem;
  }
  .main-block__content {
    width: 336px;
  }
  .header__pagination-item {
    padding-right: 10px;
    font-size: 0.9rem;
  }

  .header-social {
    transform: translateX(-30%);
    font-size: 1rem;
    top: 470px;
  }
  .header__wrapper {
    padding: 0 12px;
  }
  .header__pagination-items {
    transform: translateX(-30%);
  }
  .main-block__content-wrapper {
    padding: 0 85px 0 12px;
  }

  .wrapper {
    padding: 0 85px 0 12px;
  }

  .advantages__item {
    padding: 70px 0;
  }

  .advantages__item-title {
    font-size: 2rem;
  }
  .advantages__item-image {
    padding-left: 0;
  }
  .advantages__item-content {
    padding-left: 0;
  }
  .footer {
    padding: 40px 0 20px 0;
  }
  .footer__column-list-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .footer__body {
    gap: 40px;
  }

  .footer__column {
    padding-left: 0;
  }
}

@media screen and (max-width: 470px) {
  body {
    font-size: 1rem;
  }

  .item-intro::before {
    flex: 0 0 40px;
    margin-right: 20px;
  }
  .title--large {
    font-size: 1.7rem;
  }
  .item-intro {
    font-size: 0.7rem;
    letter-spacing: 5px;
  }

  .header__list {
    font-size: 1.125rem;
  }

  .footer__column-copy {
    font-size: 0.9rem;
  }

  .advantages__item {
    padding: 60px 0;
  }

  .advantages__item-title {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 410px) {
  .header__body {
    flex-wrap: wrap;
    row-gap: 15px;
  }
  .header__nav {
    order: 3;
    width: 100%;
  }
  .header__list {
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 380px) {
  .advantages__item-image {
    height: 300px;
  }

  .header__pagination-items {
    top: 180px;
  }

  .header__pagination-item {
    height: 38px;
  }

  .header-social {
    font-size: 0.9rem;
    top: 360px;
  }

  .header-social__text {
    margin-bottom: 12px;
  }

  .header-social__list-item:not(:last-child) {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 320px) {
  .advantages__item-description {
    display: none;
  }
}

@media screen and (max-width: 319px) {
  .advantages__item-image {
    height: 250px;
  }
}

/* ........................height....................... */

@media screen and (max-height: 600px) {
  .main-block__content > *:not(:last-child) {
    margin-bottom: 16px;
  }

  .main-block__content-wrapper {
    top: 25%;
  }

  .header__body {
    padding: 30px 0;
  }

  .header__pagination-item {
    padding-right: 10px;
    font-size: 0.9rem;
  }

  .header-social {
    transform: translateX(-30%);
    font-size: 1rem;
    top: 360px;
  }

  .header__pagination-items {
    transform: translateX(-30%);
    top: 130px;
  }

  .header-social__text {
    margin-bottom: 16px;
  }

  .header-social__list-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (max-height: 420px) {
  .main-block__content-wrapper {
    top: 30%;
  }

  .header__pagination-items {
    top: 80px;
  }

  .header__pagination-item {
    height: 38px;
  }

  .header-social {
    font-size: 0.9rem;
    top: 250px;
  }

  .header-social__text {
    margin-bottom: 10px;
  }

  .header-social__list-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (max-height: 375px) {
  .header-social {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .header-social__list {
    display: flex;
  }

  .header-social__list-icon {
    max-width: 100%;
    height: 20px;
  }

  .header-social__list-item:not(:last-child) {
    margin: 0 6px 0 0;
  }

  .header-social__text {
    line-height: 90%;
  }
}

@media screen and (max-height: 300px) {
  .header__body {
    padding: 20px 0;
  }

  .main-block__content > *:not(:last-child) {
    margin-bottom: 10px;
  }

  .title--large {
    font-size: 2rem;
  }

  .header-social {
    display: none;
  }
}
